.container {
  padding: 20px 20px;
  background-image: url("/src/components/Images/background.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.navbar-brand span {
  font-size: 24px;
  font-weight: bold;
}

.navbar-info {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-right: 80px;
}

.navbar-info div {
  margin-left: 40px;
}

.homeContainer {
  padding: 0px 10%;
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 150px;
}

.contactContainer {
  padding: 0px 10%;
  backdrop-filter: blur(40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.homeContainer h1,
.contactContainer h1 {
  padding-top: 2%;
  font-size: 45px;
  margin-bottom: 0;
}

.about-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.about-description img {
  width: 30%;
  height: 20%;
  margin-right: 20px;
  border-radius: 10px;
}

.about-description p {
  font-size: 22px;
  color: #ffffff;
}

.food-imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.food-imgs img {
  width: 200px;
  height: 100%;
  margin: 0 10px;
  transition: transform 1s ease;
  cursor: pointer;
}

.food-imgs img:hover {
  transform: scale(1.2);
  height: 100%;
}

.contactInfo{
  padding: 0 3%;
  border-radius: 25px;
  backdrop-filter: blur(1000px);
  box-shadow: 0 4px 8px rgba(224, 176, 176, 0.2);
}
.contactInfo p{
  font-size: 27px;
}

/* Media query for smaller screens */
@media (max-width: 800px) {
  .navbar-info {
    display: none;
    justify-content: center;
    flex-direction: column;
    background-color: #d3512a;
    position: absolute;
    top: 70px;
    right: 20px;
    width: 300px;
    border-radius: 5px;
    padding: 10px 0;
  }

  .navbar-info div {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }

  .navbar-info.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    backdrop-filter: blur(50px);
    background: rgba(121, 66, 15, 0.6);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(112, 47, 10, 0.2);
    color: rgb(240, 148, 28);
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .toggle-button {
    display: block;
    background: none;
    border: none;
    color: #e63c08;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
  }

  .about-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
}

/* Hide the toggle button on larger screens */
@media (min-width: 801px) {
  .toggle-button {
    display: none;
  }
}
